.event-grid {
    position: absolute;
    top: 350px;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    font-weight: bold;
}

.event-header {
    font-size: 12rem;
    font-family: 'Cosi Azure Bold', serif;
    font-weight: 700;
    color: #7b009680;
    padding-left: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.event-heading {
    font-size: 36px;
}

.event-desc {
    font-size: 20px;
}

.event-item {
    transition: 0.3s;
    margin: 20px;
    max-width: 90vw;
    min-width: 90vw;
    /* background-color: rgb(123, 0, 150, 0.17); */
}

.event-item:hover {
    background-color: rgb(123, 0, 150);
    transition: 0.3s;
}