.event-grid {
    position: absolute;
    top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    font-weight: bold;
}

.event-header {
    font-size: 13rem;
    font-family: 'Cosi Azure Bold', serif;
    font-weight: 700;
    color: #7b009680;
    position: absolute;
    /* top : -10px; */
    padding-left: 30px;
    z-index: -1;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.event-list-l {
    text-align: right;
}

event-list-r {
    text-align: left;
}

.event-list-l,
event-list-r {
    min-width: 40vw;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.event-heading {
    font-size: 3rem;
}

.event-desc {
    font-size: 1.2rem;
}

.event-item {
    transition: 0.3s;
    margin: 20px;
    /* background-color: rgb(123, 0, 150, 0.17); */
}

.event-item:hover {
    background-color: rgb(123, 0, 150);
    transition: 0.3s;
}