.event-grid {
    position: absolute;
    top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    font-weight: bold;
}

.about-header{
    padding-top : 0.6em
}

.event-list-l {
    text-align: right;
}

event-list-r {
    text-align: left;
}

.event-list-l,
event-list-r {
    min-width: 40vw;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.event-heading {
    font-size: 3rem;
}

.event-desc {
    font-size: 1.2rem;
}

.event-item {
    transition: 0.3s;
    margin: 20px;
    background-color: rgb(123, 0, 150, 0.17);
}

.event-item:hover {
    background-color: rgb(123, 0, 150, 0.5);
    transition: 0.3s;
}
