.sponsors {
    width: 100%;
    padding: 0px 20px;
}

.sponsors-header {
    font-size: 12rem;
    font-family: 'Cosi Azure Bold', serif;
    font-weight: 700;
    float: right;
    color: #7b009680;
    width: 100%;
    direction: rtl;
}

.sponsors-logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-sponsors {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.main-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsor-footer {
    color: white;
    font-size: 2rem;
}

.also-sponsors {
    color: white;
    font-size: 2rem;
    margin-top: 80px;
}

.other-sponsors {
    display: grid;
    gap: 10vw;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: 120px 120px;
    margin-top: 70px;
}

#bajaj-logo>img {
    margin-top: 100px;
}


@media only screen and (max-width: 996px) {
    .other-sponsors {
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 786px) {
    .sponsors-header {
        font-size: 6rem;
    }
}