.aboutus {
    color: #fffffe;
    position: absolute;
    top: 100px;
    font-size: 1.4rem;
    text-align: justify;
    padding: 0px 20px;
}

.aboutus-header {
    font-size: 12rem;
    font-family: 'Cosi Azure Bold', serif;
    font-weight: 700;
    color: #7b009680;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 786px) {
    .aboutus-header {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 485px) {
    .aboutus-header {
        font-size: 4rem;
    }
}