.projects {
    display: flex;
    flex-direction: column;
}

.projects-header {
    font-size: 13rem;
    font-family: 'Cosi Azure Bold', serif;
    font-weight: 700;
    color: rgba(123, 0, 150, 0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.proj-box {
    width: 100%;
    color: white;
    font-size: 3rem;
    font-family: 'Circular Std Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proj-img {
    border-radius: 0.5rem;
    filter: grayscale(100%);
    transition: 0.5s ease;
}

.proj-img:hover {
    filter: grayscale(0%);
    transition: 0.5s ease;
}

@media only screen and (max-width: 786px) {
    .projects-header {
        font-size: 6rem;
    }
}