@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');


::selection {
  color: white;
  background: #7b0096;
}

* {
  font-family: 'IBM Plex Sans', monospace !important;
}

body {
  background-color: #000000;
  scroll-behavior: smooth;
  --dot-size: 15px;
  --dot-space: 23px;
  min-width: 95vw;
  min-height: 100vh;
  background: linear-gradient(90deg, #000 21px, transparent 1%) 50%, linear-gradient(#000 21px, transparent 1%) 50%, #5c5c5c;
  background-size: auto, auto, auto;
  background-size: var(--dot-space) var(--dot-space);
  animation: floating 25s linear infinite;
}

@keyframes floating {
  100% {
    background-position: 50px 0, 125px 25px;
  }
}